.vscode/

# Ignorar ejecutables
monjaraz_stephanie/ejercicio1
monjaraz_stephanie/ejercicio2
monjaraz_stephanie/ejercicio3
monjaraz_stephanie/ejercicio4
monjaraz_stephanie/ejercicio5
monjaraz_stephanie/ejercicio7
